@model IEnumerable<StudentWebMarket.Models.Models.StudentProgram>

@{
    ViewBag.Title = "Index";
}

<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="box-title">
            <b>Student Programs</b>
        </h3>
        <a href="@Url.Action("Create","StudentProgram")" style="margin-bottom:10px;" class="btn btn-primary"><i class="fa fa-plus"> Create new student program</i></a>

    </div>
    <!-- /.box-header -->
    <div class="panel-body">
        <table class="table table-hover table-condensed" id="example1">
            <thead>
                <tr>
                    <td><b>Student Program</b></td>
                </tr>
            </thead>
            @foreach (var studprog in Model)
            {
                <tr>
                    <td>
                        <i class="fa fa-graduation-cap"></i> &nbsp;
                        @studprog.Name
                    </td>
                    <td>
                        <a class='btn btn-danger' href="@Url.Action("Edit", "StudentProgram", new { id = studprog.StudentProgramId })" style='width:50px;padding:4px 11px;font-size:10px;'>
                            Edit
                        </a> |
                        <a class='btn btn-warning' href="@Url.Action("Delete", "StudentProgram", new { id = studprog.StudentProgramId })" style='width:50px;padding:4px 11px;font-size:10px;'>
                            Delete
                        </a>
                    </td>
                </tr>
            }
        </table>
    </div>

    <div class="panel-footer">
        <p class="box-title"><b>Total Student Programs : </b><span class="label label-primary">@Model.Count()</span></p>
        <a class='btn btn-default' href="@Url.Action("ManageUsers", "Users")" style='width:80px'>
            <i class='glyphicon glyphicon-chevron-left'></i> Back
        </a>
    </div>
</div>


