@model IEnumerable<StudentWebMarket.Web.ViewModels.ProductViewModel>
@{
    ViewBag.Title = "Home Page";

}
<div class="row">
    <div class="jumbotron" id="image-background">
        <h1 class="text-center form-group" id="title-color"><strong>Student Market</strong></h1>
        @using (Html.BeginForm("Search", "SearchProduct", FormMethod.Post))
        {
            <div class="flex-container">
                <div class="row">
                    <div class="flex-item">
                        <div class="flex-item-group">
                            @Html.TextBox("SearchString", null, new { @class = "form-control input-lg", placeholder = "Search...", id = "searchfield" })
                            <button class="btn btn-primary btn-lg" id="searchbutton"><span class="glyphicon glyphicon-search"></span></button>
                        </div>
                    </div>
                </div>
            </div>
        }
        &nbsp;
        <p class="text-center"><a href="@Url.Action("Create","Product")" class="btn btn-primary btn-lg" id="btnAd">Create Ad</a></p>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="page-header">
            <h2 class="text-center">
                Share Your Educational Expenses
            </h2>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-5">
                    <img src="~/Content/Images/book-clutter-desk-73988.jpg" class="img-responsive" />
                </div>
                <div>
                    <i style="font-size:16px;">
                        At the end of the semester, there may be a few school items that you would like to keep and use again but there are also probably plenty that you would like to say goodbye to. Instead of going to the local store to sell them, there are many benefits that come with selling products online.<br><br /> Selling products online has become a faster and simpler
                        process than before. You do not necessarily have to be the one to find and communicate with buyers. There are customers willing to give you cash for your used products online, and you do not even have to pay for the shipping. If you accept the quote for your items, you simply send in your product and receive the cash you need.<br><br /> It is not unusual to try to sell school items and get offered roughly 10 to 20 percent of what you originally paid. It can feel awful to be offered 100 kr for a product that cost you over 1000 kr. You can get around this school items buyback problem by going online,
                        instead.
                    </i>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="page-header">
        <h2 class="text-center">
            Tips for selling your products
        </h2>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-4">
                <img src="~/Content/Images/img1.jpg" class="img-responsive thumbnail" />
                <p>
                    <span class="step">1</span>
                    Always make sure to put good and well-liked images of the item you are selling on Student Market. Then know exactly what to expect
                </p>
            </div>
            <div class="col-sm-4">
                <img src="~/Content/Images/img2.jpg" class="img-responsive thumbnail" />
                <p>
                    <span class="step">2</span>
                    If you still have a receipt for the item you are selling on Student Market, it's a good idea to inform the buyer about it in the ad text
                </p>
            </div>
            <div class="col-sm-4">
                <img src="~/Content/Images/img3.jpg" class="img-responsive thumbnail" />
                <p>
                    <span class="step">3</span>
                    Please be sure to answer inquiries from potential buyers as soon as possible, as this gives buyers a good impression and more often results in faster sales
                </p>
            </div>
        </div>
        <br />
    </div>
</div>

<div class="row" style="background-color:#a1d8ff">
    <h1 class="text-center">
        Sign up for Student Market today
    </h1>
    <p class="txst">From budgets and bills to free credit score and more, you’ll<br /> discover the effortless way to stay on top of it all.</p>
    <div class="flex-container">
        <div class="row">
            <div>
                <a href="@Url.Action("Register","Account")" class="btn btn-default btn-lg" id="btnSign">Sign Up</a>
                <a href="@Url.Action("Login","Account")" class="btn btn-default btn-lg" id="btnSign">Log In</a>
            </div>
            &nbsp;
        </div>
    </div>
</div>

<div class="row">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="page-header text-center">
                Recent Ads
            </h3>
        </div>
        <div class="panel-body">
            <div class="row">
                @foreach (var product in Model.Take(6))
                {
                    <div class="col-sm-4 col-md-4 col-md-4">
                        <div class="thumbnail">
                            @if (!product.ImageId.Equals(null))
                            {
                                <img src="@Url.Action("Image", "Home", new { id = product.ImageId })" class="img-responsive" />
                            }
                            <div class="caption">
                                <h5 class="pull-right text-danger">@product.Price kr</h5>
                                <h4>
                                    <a href="@Url.Action("ProductDetails","Product",new { product.Id})">@product.Product</a>
                                </h4>
                                <p>Created On : @product.CreatedOn.ToString("dd MMMM yyyy, HH:mm")</p>
                            </div>
                        </div>
                        <br />
                    </div>
                }
            </div>
        </div>
    </div>
</div>