@model IEnumerable<StudentWebMarket.Models.Models.Category>

@{
    ViewBag.Title = "Index";
}
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="box-title">
            <b>Category</b>
        </h3>
        <a href="@Url.Action("Create","Management")" style="margin-bottom:10px;" class="btn btn-primary"><i class="fa fa-plus"> Create new category</i></a>
    </div>
    <!-- /.box-header -->
    <div class="panel-body">
        <table class="table table-hover table-condensed" id="example1">
            <thead>
                <tr>
                    <td><b>Category</b></td>
                </tr>
            </thead>
            @foreach (var category in Model)
            {
                <tr>
                    <td>
                        <a href="@Url.Action("ProductsByCategory", "Home", new { Id=category.CategoryId})">
                            <span class="glyphicon glyphicon-folder-open"></span> &nbsp;
                            @Html.DisplayFor(modelItem => category.Name)
                        </a>
                    </td>
                    <td>
                        <a class='btn btn-danger' href="@Url.Action("Edit", "Management", new { id = category.CategoryId })" style='width:50px;padding:4px 11px;font-size:10px;'>
                            Edit
                        </a> |
                        <a class='btn btn-warning' href="@Url.Action("Delete", "Management", new { id = category.CategoryId })" style='width:50px;padding:4px 11px;font-size:10px;'>
                            Delete
                        </a>
                    </td>
                </tr>
            }
        </table>
    </div>

    <div class="panel-footer">
        <p class="box-title"><b>Total Categories : </b><span class="label label-primary">@Model.Count()</span></p>
        <a class='btn btn-default' href="@Url.Action("ManageUsers", "Users")" style='width:80px'>
            <i class='glyphicon glyphicon-chevron-left'></i> Back
        </a>
    </div>
</div>
