@model IEnumerable<StudentWebMarket.Models.Models.Category>

@{
    ViewBag.Title = "Index";
}

<h2>Student Market Management</h2>
<a href="@Url.Action("CreateCategory","Management")" style="margin-bottom:10px;">Category |</a>
<a href="@Url.Action("Index","School")" style="margin-bottom:10px;">Schools |</a>
<a href="@Url.Action("Index","StudentProgram")" style="margin-bottom:10px;">Student Programs</a>

@using (Html.BeginForm("Search", "SearchProduct", FormMethod.Get))
{
    <div>
        @Html.TextBox("SearchString", null, new { @class = "form-control control-label col-md-2", placeholder = "Products" })
        &nbsp;
        <input type="submit" class="btn btn-primary" value="Search" />
    </div>
}
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Category")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="@Url.Action("ProductsByCategory", "Home", new { Id=item.CategoryId})">
                    <span class="glyphicon glyphicon-folder-open"></span> &nbsp;
                    @Html.DisplayFor(modelItem => item.Name)
                </a>
            </td>
            <td>
                @Html.ActionLink("Edit", "EditCategory", new { id = item.CategoryId }) |
                @Html.ActionLink("Delete", "DeleteCategory", new { id = item.CategoryId })
            </td>
        </tr>
    }

</table>
